*{
	box-sizing: border-box;
}

#container{
	display: inline-block;
}

fieldset{
	padding: 5px;
}

#ul-root{
	margin: 0;
	padding: 0;
}

ul{
	padding-left: 30px;
}

li{
	list-style: none;
	margin: 2px 0;
}

li span{
	padding: 10px;
	display: inline-block;
	border-radius: 3px;
	transition:all .3s ease;
}

li span:hover{
	background-color: #ebebeb;
}

.invisible{
	display: none;
}

.visible{
	display: inline-block;
}

.icon{
  font-size: 16px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}

.icon:hover{
  font-size: 16px;
}

.link{
	cursor: pointer;
}

.link:hover{
	-webkit-animation: swing 1s ease;
	animation: swing 1s ease;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@keyframes swing
{
	30%
	{
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}

	100%
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}